config defaults
	option syn_flood	1
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT
	option flow_offloading '0'
	option flow_offloading_hw '0'
	option disable_ipv6	1

config zone
	option name		VPN
	list   network		'VPN'
	option input		ACCEPT
	option output		ACCEPT
	option forward		ACCEPT

config zone
	option name		LAN
	list   network		'LAN'
	option input		REJECT
	option output		ACCEPT
	option forward		REJECT
	option masq		1
	option mtu_fix		1

config forwarding
	option src		VPN
	option dest		LAN


# include a file with users custom iptables rules
config include
	option path /etc/firewall.user


config rule
	option name 'My IP'
	option src 'LAN'
	list src_ip '192.168.123.200'
	option target 'ACCEPT'
	list proto 'all'


config include 'pbr'
	option fw4_compatible '0'
	option type 'script'
	option path '/usr/share/pbr/firewall.include'
